{% extends 'core/base.html' %}
{% block content %}
    <h2 class="mb-3">{{ department.name }}</h2>
    <h5 class="text-muted mb-4">Завідувач: {{ department.head_of_department }}</h5>
    
    <div class="row">
        <div class="col-md-6">
            <h4>Випускові спеціальності</h4>
            <ul class="list-group mb-4">
                {% for prog in department.programs.all %}
                    <li class="list-group-item">
                        <a href="{% url 'program_detail' prog.id %}" class="text-decoration-none">{{ prog.code }} - {{ prog.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="col-md-6">
            <h4>Склад кафедри</h4>
            <ul class="list-group">
                {% for teacher in department.teachers.all %}
                    <li class="list-group-item">
                        <strong>{{ teacher.name }}</strong> <br>
                        <small class="text-muted">{{ teacher.position }}, {{ teacher.degree }}</small>
                    </li>
                {% empty %}
                    <li class="list-group-item text-muted">Викладачів поки не додано.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <a href="{% url 'department_list' %}" class="btn btn-outline-primary mt-4">&larr; Всі кафедри</a>
{% endblock %}
